<div class="main-top" id="home">
  <!-- header -->
  <header>
    <div class="container-fluid">
      <div class="header d-lg-flex justify-content-between align-items-center py-3 px-sm-3">
        <!-- logo -->
        <div id="logo">
          <h1><a href="/"><i class="fa fa-cubes mr-2"></i>Aayush</a></h1>
        </div>
        <!-- //logo -->
        <!-- nav -->
        <div class="nav_temps-amkls">
          <nav>
            <label for="drop" class="toggle">Menu</label>
            <input type="checkbox" id="drop" />
            <ul class="menu">
              <li><a href="/" class="active">Home</a></li>
              <li><a href="home/skipline">About us</a></li>
              <li><a href="home/contact">Contact Us</a></li>
              <li><a href="/login">Hospital Login</a></li>
              <li><a href="/customer-login">Patient Login</a></li>
            </ul>
          </nav>
        </div>
        <!-- //nav -->
        <!-- <div class="d-flex mt-lg-1 mt-sm-2 mt-3 justify-content-center" >
          <nav>
            <label for="drop" class="toggle">Menu</label>
            <input type="checkbox" id="drop" />
            <ul class="menu">
              <li><a href="/login">Hospital Login</a></li>
              <li><a href="/customer-login">Patient Login</a></li>
            </ul>
          </nav>
        </div> -->
      </div>
    </div>
  </header>
  <!-- //header -->
</div>