<div class="container-div">
  <!-- main banner -->
  <app-header></app-header>

  <!-- banner -->
  <div class="about-inner py-5">
    <div class="container pb-xl-5 pb-lg-3">
      <div class="row py-xl-4">
        <div class="col-lg-5 about-right-faq pr-5">
          <h6>Welcome to our Website</h6>
          <p>A Business management system for your small, medium or large scale business to perform appointment,
            queuing, feedback, invoice and promotions as per your needs.</p>
          <p>Aayush platform leverages technology to improve the scheduling process for businesses and to improve
            customer communication, engagement, and satisfaction. We have built Aayush with the mission of helping
            businesses acquire and retain customers and grow their revenues through the use of our easy online business
            management system</p>
        </div>
        <div class="col-lg-7 welcome-right text-center mt-lg-0 mt-5">
          <img src="../../../assets/images/about.png" alt="" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>

  <div class="about-inner py-5">
    <div class="container pb-xl-5 pb-lg-3">
      <div class="row py-xl-4">
        <div class="col-lg-6 welcome-right text-center mb-lg-0 mb-5">
          <img src="../../../assets/images/faq.png" alt="" class="img-fluid" />
        </div>
        <div class="col-lg-6 about-right-faq">
          <h6>We heard you!</h6>
          <p>We know business owners that are very busy and need tools that can help them become more efficient in their
            daily operations, along with increasing customer satisfaction and the bottom line. Aayush is a simple, yet
            powerful online scheduling tool that you, your team, and your customers will find easy to use. Our team of
            software developers have built Aayush with a focus on removing the stress and time-loss of trying to
            schedule appointments via email or phone calls. We all know that time equals money, and with this in mind,
            we are committed to offering you our online appointment scheduling software to save you time and help you
            make more money, along with happier customers</p>
        </div>
      </div>
    </div>
  </div>

  <section class="why bg-li py-5" id="why">
    <div class="container py-xl-5 py-3">
      <div class="row">
        <div class="col-md-4">
          <div class="ser-grd">
            <div class="row">
              <div class="col-md-3 col-2 text-center services-icon icon-clr5">
                <span class="fa fa-clipboard-check"></span>
              </div>
              <div class="col-md-9 col-10 text-left services-grid">
                <h4>Appointment Module</h4>
                <p>Book, schedule, and manage all your appointments using Aayush. No need for overpriced and complicated
                  scheduling software. Aayush app gives any service-based business a more professional approach when it
                  comes to scheduling and managing clients.</p>
              </div>
            </div>
          </div>
          <div class="ser-grd mt-md-5 mt-4">
            <div class="row">
              <div class="col-md-3 col-2 text-center services-icon icon-clr6">
                <span class="fa fa-coffee"></span>
              </div>
              <div class="col-md-9 col-10 text-left services-grid">
                <h4>Promotions Module</h4>
                <p>Using Aayush, you can easily send a bulk text message to all your clients. Send them business
                  updates, special deals, or anything else you want. Gain precious time and forget about texting each
                  client individually.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="ser-grd mt-md-0 mt-4">
            <div class="row">
              <div class="col-md-3 col-2 text-center services-icon icon-clr1">
                <span class="fa fa-headphones"></span>
              </div>
              <div class="col-md-9 col-10 text-left services-grid">
                <h4>Invoice Module</h4>
                <p>Define your services by setting the price and the service name. Add one or more services when
                  scheduling an appointment, and Aayush automatically calculates the total price,discount and tax. Sit
                  back and relax, Aayush does the math for you.</p>
              </div>
            </div>
          </div>
          <div class="ser-grd mt-md-5 mt-4">
            <div class="row">
              <div class="col-md-3 col-2 text-center services-icon icon-clr2">
                <span class="fa fa fa-eye"></span>
              </div>
              <div class="col-md-9 col-10 text-left services-grid">
                <h4>Business Analytics</h4>
                <p>Daily, Weekly, Monthly and Overall Appointments
                  Observe the data hourly/daily and find out which time is best and worst.
                  Graphical representation.
                  Statistics in numbers (Average and individual).
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="ser-grd mt-md-0 mt-4">
            <div class="row">
              <div class="col-md-3 col-2 text-center services-icon icon-clr3">
                <span class="fa fa-folder-open"></span>
              </div>
              <div class="col-md-9 col-10 text-left services-grid">
                <h4>Feedback Module</h4>
                <p>When the customer appointment is finished, he/she will receive automatic link in message and provide
                  the feedback about your service. Analyse the feedback to find out best and pain points in your
                  business that would help improving service.</p>
              </div>
            </div>
          </div>
          <div class="ser-grd mt-md-5 mt-4">
            <div class="row">
              <div class="col-md-3 col-2 text-center services-icon icon-clr4">
                <span class="fa fa-chart-line"></span>
              </div>
              <div class="col-md-9 col-10 text-left services-grid">
                <h4>Feedback Analytics</h4>
                <p>Specifics comments by customers.
                  Cumulative responses, Average ratings for daily/weekly.
                  The overall most improvement selection by the customers.
                  Summary of additional comments and improvements provided by customers.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</div>